@model IEnumerable<LORHAPI_Client.Models.Insertion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid p-0 SearchHeight d-flex align-items-center">
   @* Banner Image + Research Bar*@
    <div class="SearchBarPosition SearchBarPositionMobile searchWidth searchWidthMobile">
        <div id="custom-search-input w-100">
            <div class="input-group col-md-12">
                <input type="text" class="  search-query form-control" placeholder="Search" />
                <span class="input-group-btn">
                    <button class="btn btn-primary h-100" type="button">
                        <span class="glyphicon bi-search"></span>
                    </button>
                </span>
            </div>
        </div>
	</div>
</div>

@* Search Filter*@
<div class="container FilterSize justify-content-center">
    <div class="flex-column align-self-center">     
        <div class="d-flex flex-row justify-content-around">
            
            @* Age *@          
            <div class="ContainerFilterSizing text-center">
                <p>Age</p>
                <div class="d-flex flex-row justify-content-center mw-50">
                    <input class="AgeValue text-center" type="text" id="fname" name="fname" value="0">
                </div>
            </div>
            
            @* Department *@
            <div class="ContainerFilterSizing text-center">
                <p>Département</p>
                <div class="btn-group dropright">
                  <button type="button" class="btn btn-secondary dropdown-toggle Testo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    00 - Département
                  </button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">01 - Chez Gilles</a>
                      <a class="dropdown-item" href="#">02 - Chez Gaetan</a>
                  </div>
                </div>
            </div>
            
        </div>
        
        <div class="d-flex flex-row justify-content-around">
            @* Activity Sector *@
            <div class="ContainerFilterSizing text-center">               
                <p>Secteur d'Activité</p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle Testo" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Secteur
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Marketing</a>
                    <a class="dropdown-item" href="#">Finance</a>
                    <a class="dropdown-item" href="#">Maraudeur</a>
                    </div>
                </div>
            </div>
            
            @* Degree Required *@
            <div class="ContainerFilterSizing text-center">
                <p>Diplôme Requis</p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle Testo" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Aucun Diplôme
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">CAP</a>
                    <a class="dropdown-item" href="#">BEP</a>
                    <a class="dropdown-item" href="#">BAC</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>    
</div>


<div>
    @foreach (var insertion in Model)
    {
        <div>@insertion.IdInsertion</div>
        <div>@insertion.Title </div>
        <div>@insertion.Description </div>
    }
</div>

@*<h1>index</h1>
<p>
    <a asp-action="privacy">create new</a>
</p>*@
@*<table class="table">
    <thead>
        <tr>
            <th>
                @html.displaynamefor(model => model.idinsertion)
            </th>
            <th>
                @html.displaynamefor(model => model.title)
            </th>
            <th>
                @html.displaynamefor(model => model.description)
            </th>
            <th>
                @html.displaynamefor(model => model.agemin)
            </th>
            <th>
                @html.displaynamefor(model => model.agemax)
            </th>
            <th>
                @html.displaynamefor(model => model.salary)
            </th>
            <th>
                @html.displaynamefor(model => model.place)
            </th>
            <th>
                @html.displaynamefor(model => model.duration)
            </th>
            <th>
                @html.displaynamefor(model => model.startdate)
            </th>
            <th>
                @html.displaynamefor(model => model.enddate)
            </th>
            <th>
                @html.displaynamefor(model => model.redirectionlink)
            </th>
            <th>
                @html.displaynamefor(model => model.idorganization)
            </th>
            <th>
                @html.displaynamefor(model => model.degreerequired)
            </th>
            <th>
                @html.displaynamefor(model => model.degreeobtained)
            </th>
            <th>
                @html.displaynamefor(model => model.idsector)
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in model) {
        <tr>
            <td>
                @html.displayfor(modelitem => item.idinsertion)
            </td>
            <td>
                @html.displayfor(modelitem => item.title)
            </td>
            <td>
                @html.displayfor(modelitem => item.description)
            </td>
            <td>
                @html.displayfor(modelitem => item.agemin)
            </td>
            <td>
                @html.displayfor(modelitem => item.agemax)
            </td>
            <td>
                @html.displayfor(modelitem => item.salary)
            </td>
            <td>
                @html.displayfor(modelitem => item.place)
            </td>
            <td>
                @html.displayfor(modelitem => item.duration)
            </td>
            <td>
                @html.displayfor(modelitem => item.startdate)
            </td>
            <td>
                @html.displayfor(modelitem => item.enddate)
            </td>
            <td>
                @html.displayfor(modelitem => item.redirectionlink)
            </td>
            <td>
                @html.displayfor(modelitem => item.idorganization)
            </td>
            <td>
                @html.displayfor(modelitem => item.degreerequired)
            </td>
            <td>
                @html.displayfor(modelitem => item.degreeobtained)
            </td>
            <td>
                @html.displayfor(modelitem => item.idsector)
            </td>
            <td>
                @html.actionlink("edit", "edit", new { /* id=item.primarykey */ }) |
                @html.actionlink("details", "details", new { /* id=item.primarykey */ }) |
                @html.actionlink("delete", "delete", new { /* id=item.primarykey */ })
            </td>
        </tr>
}
    </tbody>
</table>*@